<!DOCTYPE html>
<html lang="en">
<head>
	<title>check bakance</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
{% load static %}
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
        <form action="/checkbal/" method="POST">{% csrf_token %}
				<span class="contact100-form-title">
					Check Account details
				</span>

				<label class="label-input100" for="email">Account Number*</label>
				<div class="wrap-input100 validate-input">
					<input id="email" class="input100" type="text" name="accountnumber"   placeholder="Account number goes here..">
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
					</button>
				</div>
        <span class="contact100-form-title">
					ACCOUNT NUMBER: {{account}}
				</span>
        <span class="contact100-form-title">
					NAME: {{name}}
				</span>
        <span class="contact100-form-title">
					current balance: {{balance}}
				</span>
        </form>
        <form action="/todo/" method="POST">{% csrf_token %}
          <div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="zmdi zmdi-arrow-left m-l-8"></i>
              Back
						</span>
					</button>
				</div>
        </form>
		</div>
	</div>
</body>
</html>
